
.About {
    height: 90%;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: left;
    overflow: auto;
    p {
        margin: 10px;
    }
}


.About p:nth-of-type(1) {
    font-size: 18px;
    font-weight: bold;
    color: rgb(131, 21, 21);
    align-self: flex-start;
}

img[src*="javascript-joke"]{
    display: block;
    max-width: 80%;
    margin: 10px;
    margin-left: 20px;
    align-self: flex-start
}

img[src*="facepalm"]{
    height: 25px;
}


