
.About {
    height: 90%;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: left;
    overflow: auto;
    p {
        margin: 10px;
    }
    p:nth-of-type(1) {
        font-size: 18px;
        font-weight: bold;
        color:#b73111;
        align-self: flex-start;
    }
}

img[src*="javascript-joke"]{
    display: block;
    max-width: 80%;
    margin: 10px;
    margin-left: 5%;
    align-self: flex-start;
    box-shadow: 2px 2px 5px 3px rgba(0,0,0,0.75);
    border-radius: 5px;
}

img[src*="facepalm"]{
    height: 25px;
}


