/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 14px;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Normalize */
 button,
 input,
 optgroup,
 select,
 textarea {
   font-family: inherit; 
   font-size: 14px; 
   line-height: 1.15; 
   margin: 0; 
 }
 
 button,
 input { 
   overflow: visible;
 }

 button,
 select { 
   text-transform: none;
 }
 
 button,
 [type="button"],
 [type="reset"],
 [type="submit"] {
   -webkit-appearance: button;
 }

 *:focus {
  outline: none;
}

/* Style for app */
.app {
  height: 100vh;
  width: 100vw;
  font-family: Monaco, Consolas, Monospace;
  background-color: rgb(18, 18, 68);
  background-image:  url('../media/milky-way.jpg');
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 5fr 2fr 23fr;
  grid-template-areas: 
    "profile-picture . nav"
    "name name name"
    "main main main";
  justify-items: center;
  align-items: center;
  line-height: 1.4;
  > .circle {
      grid-area: profile-picture;
      overflow: scroll;
      display: none;
  }
}

.circle {
  border-radius: 50%;
}

button, a {
    outline: none;
  :focus, :hover, :active {
    border: none;
    background: none;
  } 
}

a:link, a:visited {
  color: rgb(45, 4, 139);
} 
a.active, a:active, a:hover {
  color: orangered;
}

header {
  grid-area: name;
  overflow: scroll;
  color: white;
  font-size: calc(14px + 2vmin + 1vmax);
  align-self: flex-end;
  text-align: center;
  margin: 10px;
  > * {
    padding: 2px;
  }
  h1, ul {
    display: inline-block;
  }
  i {
    padding: 5px;
    padding: 0.8vw;
    color: white;
  }
  i:active, i:hover {
    opacity: 0.75;
  }
}

nav {
  margin-top: 15px;
  position: relative;
  grid-area: nav;
  align-self: flex-start;
  justify-self: flex-end;
  width: 60px;
  z-index: 1;
  
  button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding: 0px;
  }

  i {
    color: white;
    font-size: 30px;
  }

  span.links-modal {
    position: absolute;
    left: -100px;
    display: flex;
    flex-direction: column;
    li {
      width: 60px;
    }
  }
  
  li {
    display: inline-block;
    opacity: 100%;
    padding: 10px 30px;
    background-color: rgba(255, 255, 255, 100);
    border: 1px solid black;
    animation: dropdown 250ms cubic-bezier(0.000, 0.800, 0.830, 0.945);
    a {
      text-decoration: none; 
    }
  }

  > li {
    display: none;
    a {
      text-decoration: none; 
    }
  }
}

@keyframes dropdown {
  0% {
      transform: translate(1px,-3px); 
      background-color: rgba(255, 255, 255, .5);
  }

  100% {
      transform: translate(0px, 0px);
  }
}

main {
  grid-area: main;
  overflow: scroll;
  align-self: flex-start;
  background-color: rgba(255, 255, 255, 0.65);
  width: calc(100% - 40px);
  height: calc(100% - 20px);
  display: flex;
    > div {
      height: 100%;
      width: 100%;
      margin: 5vmin;
      margin-top: 2vmin;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
}

@media screen and (min-width: 480px){
  .app {
  grid-template-areas: 
    "profile-picture name name"
    "nav main main"
    "nav main main";
    > .circle {
      display: inline-block;
      height: 100px;
      height: 90%;
      min-height: 100px;
      margin-top: 10px;
    }
  }
  header, nav {
    margin: 5px;
  }
  nav {
    /* overflow scroll cannot be placed in screen < 480px or nav will not show correctly when drop-down is clicked */
    overflow: scroll;
    width: 100%;
    padding: 0px;
    color: black;
    justify-self: stretch;
    display: flex;
    flex-direction: column;
    justify-items: start;
    i.fas.fa-bars {
      display: none;
    }
    span.links-modal {
      display: none;
    }
    > li {
      padding: 1.25vh 3.5vw;
      display: inline-block;
    }
  }
  main {
    margin-top: 5px;
  }
}

@media screen and (min-width: 760px) {
  .app {
  grid-template-areas: 
    "profile-picture name name"
    "profile-picture nav nav"
    "main main main";
    > .circle {
      justify-self: flex-end;
    }
  }
  header {
    justify-self: flex-start;
    margin-bottom: 0px;
  }
  nav {
    margin-top: 0;
    flex-direction: row;
    justify-self: flex-start;
    > li {
      transform: skewX(-10deg);
    }
  }
  main {
    margin: 10px 30px;
    width: calc(100% - 11vw);
  }
}



