main div {
    height: 100%;
    width: 100%;
    margin: 5vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

img[alt="shrug"] {
    width: 100px;
    width: calc(50px + 5vmax);
}

p:nth-of-type(2){
    margin-top: 10px;
}
