.Skills {
    overflow: auto;
}

.Skills div {
    align-items: start;
    text-align: left;
    p {
        margin-bottom: 10px;
    }
}

.selected {
    background-color: orangered;
    color: white;
}

.text-no-game {
    font-weight: 900;
    background-color: rgba(222, 220, 220,.5);
}

.game {
    display: flex;
    flex-direction: column;
    section {
        display: flex;
    }
    div {
        display: inline-block;
        width: 8vmin;
        height: 8vmin;
        font-size: 1.5vmin;
        background-color: white;
        margin: 2px;
        text-align: center;
    }
}
@media screen and (min-width: 760px) {
.game {
    div {
        width: 12vmin;
    }
}
}    
.game div.covered{
    background-color: gray;
}