/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* style for app */
.App {
  height: 100vh;
  width: 100vw;
  padding: 10px;
  font-family: Monaco, Consolas, Monospace;
  font-size: 14px;
  background-color: rgb(18, 18, 68);
  background-image:  url('./images/milky-way.jpg');
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 5fr 1fr 15fr;
  grid-template-areas: 
    "profile-picture . nav"
    "name name name"
    "main main main";
  justify-items: center;
  align-items: center;
  > .circle {
    grid-area: profile-picture;
    height: 50px;
    height: calc(30px + 70%);
  }
}

header {
  grid-area: name;
  color: white;
  font-size: calc(14px + 2vw);
  align-self: end;
  text-align: center;
  margin: 0px 10px;
  > * {
    padding: 2px;
  }
  h1, ul {
    display: inline-block;
  }
  i {
    padding: 5px;
    padding: 1vw;
  }
}

nav {
  grid-area: nav;
  align-self: start;
  i {
    color: white;
    font-size: 30px;
  }
  li {
    display: none;
  }
}

main {
  grid-area: main;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 30px;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
}

.circle {
  border-radius: 50%;
}

@media screen and (min-width: 480px) {
  .App {
  grid-template-areas: 
    "profile-picture name name"
    "nav main main"
    "nav main main";
    > .circle {
      margin-top: 30px;
    }
  }
  header {
    margin: 0px 30px;
  }
  nav {
    margin-top: 30px;
    padding: 0px;
    color: black;
    justify-self: stretch;
    display: flex;
    flex-direction: column;
    justify-items: start;
    i.fas.fa-bars {
      display: none;
    }
    li {
      display: inline-block;
      padding: 10px 30px;
      background-color: white;
      border: 1px solid black;
    }
  }
  main {
    margin: 10px;
    margin-left: 0px;
  }
}

@media screen and (min-width: 760px) {
  .App {
  grid-template-areas: 
    "profile-picture name name"
    "profile-picture nav nav"
    "main main main";
    > .circle {
      justify-self: end;
    }
  }
  nav {
    margin-top: 0;
    justify-self: center;
    flex-direction: row;
    align-items: start;
    li {
      padding: 10px 3.5vw;
      transform: skewX(-10deg);
    }
  }
  main {
    margin: 30px;
  }
}



