/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 14px;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Normalize */
 button,
 input,
 optgroup,
 select,
 textarea {
   font-family: inherit; 
   font-size: 14px; 
   line-height: 1.15; 
   margin: 0; 
 }
 
 button,
 input { 
   overflow: visible;
 }

 button,
 select { 
   text-transform: none;
 }
 
 button,
 [type="button"],
 [type="reset"],
 [type="submit"] {
   -webkit-appearance: button;
 }


/* Style for app */
.app {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  padding: 10px;
  font-family: Monaco, Consolas, Monospace;
  background-color: rgb(18, 18, 68);
  background-image:  url('./images/milky-way.jpg');
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 5fr 1fr 15fr;
  grid-template-areas: 
    "profile-picture . nav"
    "name name name"
    "main main main";
  justify-items: center;
  align-items: center;
  > .circle {
    grid-area: profile-picture;
    height: 50px;
    height: calc(20px + 15vmax);
    margin: 10px;
  }
  line-height: 1.4;
}

button, a {
    outline: none;
  :focus, :hover, :active {
    border: none;
    background: none;
  } 
}

a:link, a:visited {
  color: rgb(45, 4, 139);
} 
a:active, a:hover {
  color: orangered;
}


header {
  grid-area: name;
  color: white;
  font-size: calc(14px + 2vw);
  align-self: flex-end;
  text-align: center;
  margin: 10px;
  > * {
    padding: 2px;
  }
  h1, ul {
    display: inline-block;
  }
  i {
    padding: 5px;
    padding: 1vw;
    color: white;
  }
}

nav {
  position: relative;
  grid-area: nav;
  align-self: flex-start;
  justify-self: flex-end;
  width: 60px;
  button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding: 0px;
  }
  i {
    color: white;
    font-size: 30px;
  }
  span.links-modal {
    position: absolute;
    left: -100px;
    display: flex;
    flex-direction: column;
    li {
      width: 60px;
    }
  }
  li {
    display: inline-block;
    padding: 10px 30px;
    background-color: white;
    border: 1px solid black;
    a {
      text-decoration: none; 
    }
  }
  > li {
    display: none;
    a {
      text-decoration: none; 
    }
  }
}

main {
  grid-area: main;
  align-self: flex-start;
  background-color: rgba(255, 255, 255, 0.65);
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  display: flex;
    div {
      height: inherit;
      width: inherit;
    }
}


.circle {
  border-radius: 50%;
}

@media screen and (min-width: 480px) {
  .app {
  grid-template-areas: 
    "profile-picture name name"
    "nav main main"
    "nav main main";
    > .circle {
      margin-top: 30px;
    }
  }
  header {
    margin: 0px 30px 20px;
  }
  nav {
    width: 100%;
    margin-top: 10px;
    padding: 0px;
    color: black;
    justify-self: stretch;
    display: flex;
    flex-direction: column;
    justify-items: start;
    i.fas.fa-bars {
      display: none;
    }
    span.links-modal {
      display: none;
    }
    > li {
      display: inline-block;
    }
  }
  main {
    margin: 10px;
    margin-left: 0px;
  }
}

@media screen and (min-width: 760px) {
  .app {
  grid-template-areas: 
    "profile-picture name name"
    "profile-picture nav nav"
    "main main main";
    > .circle {
      justify-self: flex-end;
    }
  }
  header {
    margin-bottom: 0px;
  }
  nav {
    margin-top: 0;
    flex-direction: row;
    align-items: start;
    li {
      padding: 10px 3.5vw;
      transform: skewX(-10deg);
    }
  }
  main {
    margin: 30px;
  }
}



